*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}

@media (max-width:700px) {
    :root{
        font-size: 8px;
    }
}
@media (max-width:550px) {
    :root{
        font-size: 6px;
    }
    .container{
        margin: 0 auto;
 
    }
    .nav-bar {
        display: none;
    }
    .logo{
        margin: 0 auto;
    }

}
@media (max-width:400px) {
    :root{
        font-size: 4px;
    }
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(201, 204, 204);

}
header{

    display:  flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
margin-bottom: 2rem;
    padding: 1rem;
}
.logo{
    width: 12rem;
height: 8rem;
}
.nav-bar a{
font-size: 2rem;
color: black;
text-decoration: none;
margin-left: 10rem;
}
.hero{
    max-width: 1300px;
    margin: 0 auto;
margin-bottom: 2rem;
    padding: 1rem; 
}
.hero h1{
    font-size: 4rem;
    font-weight: bold;
}
.hero p{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}