*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
.container{
width: 100v;
}
.logo{
width: 20rem;
}
header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 2rem;
  

}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
nav a{
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
}
aside{
    float: left;
  width: 35rem;
  margin-left: 4rem;
  
}
aside ul li{
list-style: none;
display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 2rem;
 margin: 5rem 2rem;
}
aside ul li a{
 text-decoration: none;
 color: black;
    }
    main{
        width: 100%;
        height: 100vh;
        background-color: #f1f2f7;
        float: right;
        display: flex;
       
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6rem;
   
    }
    .hero-section{
        display: flex;

    }

    .main-img{
        width: 30rem;
    }
    main p{
        max-width: 80%;
        font-size: 1.7rem;
    }
footer p{
    text-align: center;
    font-size: 1.8rem;
    /* width: 70%; */
    margin-left: 31.7rem;
        background-color: #f1f2f7;
    }

    .wrapper{
        width: 90%;
        max-width: 25rem;
        background-color: #bb6767;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        padding: 2em;
        border-radius: 0.8em;
       
    
    
    }
    .app-details{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .app-title{
        font-size: 1.6em;
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    .app-logo{
        width: 9.8em;
    }
    label{
        display: block;
        font-weight: 600;
    }
    input#amount{
        font-weight: 400;
        font-size: 1.2em;
        display: block;
        width: 100%;
        border-bottom: 2px solid #02002c;
        color: #7a789d;
        margin-bottom: 2em;
        padding: 0.5em;
    }
    
    
    input#amount:focus{
    color: #9873fe;
    border-color: #9873fe;
    }
    .dropdowns{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }
    select{
        width: 100%;
        padding: 0.6em;
        font-size: 1em;
        border-radius: 0.2em;
        appearance: none;
        background-image:url("arrow-down.svg") ;
        background-repeat: no-repeat;
        background-position: right 15px top 50%, center;
        background-size: 20px 20px;
        background-color: #9873fe;
        color: #ffffff;
    }
    
    select option{
        background-color: #498de6;
        color: #02002c;
    
    }
    
    button{
        font-size: 1em;
        width: 100%;
        background-color: #9873fe;
        padding: 1em 0;
        margin-top: 2em;
        border-radius: 0.3em;
        color: #ffffff;
        font-weight: 600;
    }
    
    #result{
        font-size: 1.2em;
        text-align: center;
        margin-top: 1em;
        color: #02002c;
        background-color: #e5dbff;
        padding: 0.8em 0;
    }